<ion-header no-border>  
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>
          Create Notification
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item>
        <ion-input [(ngModel)]="noteName" type="text" value="" placeholder="Enter notification name"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>{{ "Click to set notification time"}}</ion-label>
      <ion-datetime [(ngModel)]="myDate" [pickerOptions]="customPickerOptions" displayFormat="HH:mm" ></ion-datetime>
    </ion-item>
    <ion-item>
    <ion-button (click)="toggle()">Create Notification</ion-button >
    </ion-item>
</ion-content>



