<ion-header no-border>  
  <ion-toolbar>
      <ion-back-button></ion-back-button>

    <ion-title>
      N-of-1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>  
  <ion-card (click)="showCards(deck)" *ngFor="let deck of decks">
    <ion-card-header>
      <ion-card-title>{{ deck.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="goToNotif()">
      <ion-card-header>
        <ion-card-title>Notification Settings</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>

<!-- <ion-footer no-border>  
  <ion-toolbar color="secondary" text-center>
    <ion-button fill="outline" color="light" (click)="startQuiz()">
      Quiz Me
      <ion-icon slot="end" name="albums"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>   -->